<h3>Cliente excluído com sucesso</h3>

<button type="button" class="btn btn-success" onclick="Voltar()">Listagem de Clientes</button>

<script>
    function Voltar() {
        //alert(message);
        window.location.href = "../../Cliente/Index";
    }
</script>