<h3>Produto excluído com sucesso</h3>

<button type="button" class="btn btn-success" onclick="Voltar()">Listagem de Produtos</button>

<script>
    function Voltar() {
        //alert(message);
        window.location.href = "../../Produto/Index";
    }
</script>